<nav id="sidebar" class="overlay">
    <div class="content-wrapper">
        <span class="material-icons close">close</span>
        <ul class="menu">
            <li>
                <a href="https://www.tbcacademy.ge">მთავარი</a>
            </li>
            <li>
                <a href="https://www.tbcacademy.ge/it-academy">TBC IT</a>
            </li>
            <li class="active">
                <a href="https://www.tbcacademy.ge/usaid">TBC x USAID</a>
            </li>
            <li>
                <a href="https://www.tbcacademy.ge/risks-academy">რისკები</a>
            </li>
        </ul>
    </div>
</nav>