footer {
    width: 100%;
    height: 27rem;
    background-color: var(--footerBgColor);
    margin-top: 5rem;

    .content-wrapper {
        padding: 3.2rem 0;
        .logo {
            img {
                max-height: 3rem;
            }
        }

        .contact {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 3.2rem;

            .btn {
                color: var(--textColorPrimary);
                border-radius: 5px;
                background-color: var(--btnBgColor);
                width: 11rem;
                height: 3.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                font-family: 'Roboto-Light', sans-serif;
                font-weight: 200;
                letter-spacing: 0.05rem;
            }

            .social-icons {
                display: flex;
                align-items: center;
                gap: 0 1.5rem;

                .icon {
                    img {
                        width: 3.5rem;
                        height: 3.5rem;
                    }
                }
            }
        }

        .terms-and-privacy {
            font-size: 1.5rem;
            margin-top: 3.5rem;
            color: var(--textColorSecondary);
            letter-spacing: 0.1rem;

            .terms {
                margin-bottom: 1rem;
                cursor: pointer;
            }
        }
    }
}