header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--headerBgColor);
    z-index: 99;

    .content-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &.desktop-header {
        height: 8.4rem;

        .right-content {
            .nav-list {
                display: flex;
                align-items: center;
                gap: 3rem;

                li {
                    font-family: 'Roboto-Regular', sans-serif;
                    font-weight: 300;
                    font-size: 1.4rem;
                    color: var(--textColorPrimary);

                    &.active {
                        color: var(--textColorTertiary);
                    }
                }
            }
        }
    }

    &.mobile-header {
        height: 7rem;

        .content-wrapper {
            .right-content {
                .menu {
                    width: 2.6rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 2rem;

                    .line {
                        border-radius: 1.3px;
                        height: 0.3rem;
                        width: 100%;
                        background-color: var(--mobileMenuIconColor);

                        &:first-child {
                            width: 50%;
                        }

                        &:last-child {
                            width: 50%;
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }
}