:root {
    --headerBgColor: #1a1e1f;
    --footerBgColor: #1a1e1f;
    --pageBgColor: #2b2b2b;

    --textColorPrimary: #fff;
    --textColorTertiary: #00aef3;
    --textColorSecondary: #F4F4F4;

    --mobileMenuIconColor: #fff;

    --btnBgColor: rgb(0,174,243);
    --sectionBgColor: rgb(22, 22, 22);
    --sectionTitleColor: rgba(244,244,244,1);
}